<a href="https://colab.research.google.com/github/KyungsikSeo/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 3강 - 데이터 분석을 위한 파이썬 2

## 3-1 언패킹

시퀀스 자료형(리스트, 튜플, 문자열 등)에서 여러 개의 값을 개별 변수에 분리하여 할당하는 기능

하나의 데이터 묶음에서 개별 요소들을 추출하여 각각의 변수에 직접 할당

In [ ]:
coordinates = (10, 20)

# 튜플 언패킹
x, y = coordinates
print(f'x좌표: {x}, y좌표: {y}')

rgb = [255, 128, 0]
# 리스트 언패킹
red, green, blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
# 문자열 언패킹
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')

x좌표: 10, y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B, 세 번째 문자: C

In [4]:
def get_dataset_stats(values):
  return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]

# 함수값 return 언패킹
minimum, maximum, average = get_dataset_stats(data)
print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.2f}')

최솟값: 5, 최댓값: 32, 평균: 15.57

In [ ]:
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]

# 반복문에서 언패킹 사용
for    :
  average = (database + python + cloud) / 3
  print(f'{name}의 평균 점수: {average:.1f}')

In [ ]:
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

# 1월, 2월 및 나머지 월 매출액

print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')

# 1월, 12월 및 나머지 월 매출액

print(f'첫 달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~11월)의 판매액: {middle}')

## 3-5 언더스코어

시퀀스 데이터는 일반적으로 반복문을 사용하여 처리

언더스코어(_)는 반복 변수의 값이 값이 필요하지 않을 때 이를 대체하는 역할

In [ ]:
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]

# 이름 및 성적 만 출력
for    :
    print(f'{name}의 성적: {grade}')

In [ ]:
def get_coordinates( ):
    return (10, 20, 30)

# 함수 return 값 언더스코어 사용


print(y)

## 3-2 예외 처리

코드 실행 중 예기치 않은 오류가 발생할 경우에 대비하는 기능 필요

- 오류를 별도 처리하지 않는 경우 프로그램이 즉시 종료

- 사용자 경험 저하, 데이터 손실, 리소스 누수, 디버깅 어려움 등의 추가적인 문제 발생

In [3]:
number = int(input('정수를 입력하세요: '))
result = 10 / number
print(f'결과: {result}')

정수를 입력하세요: 3
결과: 3.3333333333333335

In [ ]:
number = int(input('정수를 입력하세요: '))

# try 문
result = 10 / number
print(f'결과: {result}')

# except 문
print('0으로 나눌 수 없습니다.')

In [ ]:
# try 문
number = int(input('숫자를 입력하세요: '))
result = 10 / number

# except 문 1
print('유효한 숫자를 입력해야 합니다.')

# except 문 2
print('0으로 나눌 수 없습니다.')

print(f'결과: {result}')

In [ ]:
# try 문
file = open('data.csv', 'r')
content = file.read( )
print(content)

# except 문
print('파일을 찾을 수 없습니다.')

# fianlly 블럭
print('파일 작업 종료.')
file.close( )

## 3-3 함수형 프로그래밍

In [ ]:
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

# 함수 정의: salary * 1.1

# 급여 인상

print(updated_salaries)

map 함수
*   반복 가능한 객체의 모든 요소에 특정 함수를 적용하여 새로운 값을 생성하는 함수
    *   리스트나 튜플과 같은 자료구조의 요소를 변경할 때 유용

In [ ]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]

# 함수 정의: 섭씨 -> 화씨

# 온도 변환


print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)

In [ ]:
words = ['python', 'data', 'analysis']

# 함수 정의 및 대문자화


print(uppercase_words)

In [ ]:
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]

# salary * 1.1


print('\n급여 인상 후:')

for emp in updated_employees:
    print(f'{emp['name']}: {int(emp['salary']):,}원')

In [ ]:
numbers = [10, 15, 20, 25, 30]

# 짝수 필터링


print(even_numbers)

In [ ]:
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '박서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78}
]

# 70점 이상 학생 목록 생성


for student in passed_students:
    print(f'이름: {student["name"]}, 점수: {student["score"]}')

In [ ]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]

# 최대값 생성


print(max_value)